<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.S} [%t] %highlight{%-5p} %logger{1} - %msg%n%ex{none}</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n%xEx</Property>
        <Property name="DANSER_PATTERN">%d%msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <RollingFile name="FILE"
                     fileName="${LOG_DIR}/latest.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="9" fileIndex="nomax"/>
        </RollingFile>

        <RollingFile name="ERROR_FILE"
                     fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM-dd}-error-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="JAVALIN_FILE"
                     fileName="${LOG_DIR}/javalin-server.log"
                     filePattern="${LOG_DIR}/javalin-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="9" fileIndex="nomax"/>
        </RollingFile>

        <RollingFile name="DANSER_FILE"
                     fileName="${LOG_DIR}/danser.log"
                     filePattern="${LOG_DIR}/danser-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${DANSER_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="THYMELEAF_FILE"
                     fileName="${LOG_DIR}/thymeleaf.log"
                     filePattern="${LOG_DIR}/thymeleaf-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.thymeleaf" level="INFO" additivity="false">
            <AppenderRef ref="THYMELEAF_FILE"/>
        </Logger>

        <Logger name="io.javalin" level="INFO" additivity="false">
            <AppenderRef ref="JAVALIN_FILE"/>
        </Logger>

        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="JAVALIN_FILE"/>
        </Logger>

        <Logger name="danser" level="INFO" additivity="false">
            <AppenderRef ref="DANSER_FILE"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_FILE"/>
        </Root>
    </Loggers>
</Configuration>