<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.S} [%t] %highlight{%-5p} %logger{1} - %msg%n%ex{none}</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n%xEx</Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <RollingFile name="FILE" fileName="${LOG_DIR}/latest.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="9" fileIndex="nomax"/>
        </RollingFile>

        <RollingFile name="JAVALIN_FILE" fileName="${LOG_DIR}/javalin-server.log"
                     filePattern="${LOG_DIR}/javalin-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="9" fileIndex="nomax"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="io.javalin" level="INFO" additivity="false">
            <AppenderRef ref="JAVALIN_FILE"/>
        </Logger>

        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="JAVALIN_FILE"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>